.b, .c, .d{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0px;
}
.a{
    background-color: red;
    width: 50px;
    height: 50px;
}

.b{background-color: green; z-index: -1; left: 5px;}
.c{background-color: yellow; z-index: -1; left: 10px;}
.d{background-color: blue; z-index: -1; left: 15px; } 

/* static-a , zindex-auto-d,zindex-b,zindex-c */
